<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Video_System_Ultimate.Properties.Settings.Locadora_UsuariosConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Locadora_Usuarios.accdb"
            providerName="System.Data.OleDb" />
        <add name="Video_System_Ultimate.Properties.Settings.BD_VIDEO_SYSTEM_ULTIMATEConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BD_VIDEO_SYSTEM_ULTIMATE.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>